html,
body,
#root {
  height: 100%;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-content {
  flex: 1;
}

.footer {
  background-color: #f1f1f1;
  padding: 15px 0;
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

.footer p {
  margin: 0;
}
