* {
  box-sizing: border-box;
}

.header {
  background-color: #4caf50;
  padding: 10px;
  text-align: center;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  width: 90%;
  text-align: center;
}

.header-admin {
  margin-right: 10px;
  text-decoration: none;
  color: white;
}

.navbar {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  background-color: #f1f1f1;
}

.footer {
  background-color: #f1f1f1;
  padding: 15px 0;
  margin-top: 20px;
  text-align: center;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.footer p {
  margin: 0;
}
