* {
  box-sizing: border-box;
}

/* .navbar {
  background-color: #333;
  color: white;
  padding: 10px;
} */

.navbar {
  background: #222;
  padding: 10px 0;
  display: flex;
  justify-content: center; /* Centra el ul dentro del navbar */
}

.navbar ul {
  display: flex;
  justify-content: space-evenly; /* Centra los li dentro del ul */
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  margin: 0 20px; /* Espacio entre los links */
  flex: unset; /* Quita flex: 1 para que no ocupen todo el ancho */
  text-align: center;
}

.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
}
