* {
  box-sizing: border-box;
}

.navbar {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  background-color: #f1f1f1;
}

.footer {
  background-color: #f1f1f1;
  padding: 15px 0;
  margin-top: 20px;
  text-align: center;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.footer p {
  margin: 0;
}
